---
import BaseLayout from '../../layouts/BaseLayout.astro';

import { getCollection } from 'astro:content';

export async function getStaticPaths() {
    const projectsEntries = await getCollection('projects');
    return projectsEntries.map(entry => ({
        params: { slug: entry.slug }, props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---
<BaseLayout headerText={entry.data.title} title={`Luke Davies | Projects - ${entry.data.title}`}>
    <p class="mb-5">{entry.data.description}</p>
    <Content />
    <div>
        <ul class="space-y-1 list-disc list-inside w-full">
            <li>
                Live Link: <a href={entry.data.liveLink}>{entry.data.liveLink}</a>
            </li>
            <li>
                Github Link: <a href={entry.data.githubLink}>{entry.data.githubLink}</a>
            </li>
        </ul>
    </div>
</BaseLayout>

<style is:inline>
    img {
        border-radius: 30px;
        border: 3px solid rgb(221, 221, 221);
        margin-bottom: 20px;
    }
</style>